<footer class="mastfoot">
  <div class="inner">
    <p class="app-footer"><%= copyright_generator %>
      <div>
        <a class="list-unstyled social-links" href="https://github.com/bradyberryessa"><%= fa_icon "github" %></a>
        <a class="list-unstyled social-links" href="https://www.linkedin.com/in/bradyberryessa/"><%= fa_icon "linkedin" %></a>
        <a class="list-unstyled social-links" href="https://www.facebook.com/brady.berryessa14"><%= fa_icon "facebook" %></a>
      </div>
    </p>
  </div>
</footer>