<div class="row">
  <div class="col-md-4 button-padding">
    <button
    class="btn btn-primary btn-block btn-outline"
    type="button"
    data-toggle="collapse"
    data-target="#jobHistory"
    aria-expanded="false"
    aria-controler="jobHistory"
    >
    Job History
    </button>
  </div>
  <div class="col-md-4 button-padding">
    <button
    class="btn btn-primary btn-block btn-outline"
    type="button"
    data-toggle="collapse"
    data-target="#education"
    aria-expanded="false"
    aria-controler="education"
    >
    Education
    </button>
  </div>
  <div class="col-md-4 button-padding">
    <button
    class="btn btn-primary btn-block btn-outline"
    type="button"
    data-toggle="collapse"
    data-target="#devSkills"
    aria-expanded="false"
    aria-controler="devSkills"
    >
    Dev Skills
    </button>
  </div>
</div>