<div class="collapse" id="jobHistory">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3 education-center">
        <%= image_tag 'Firetoss.png', width: '100%' %>
      </div>

      <div class="col-md-9">
        Digital Marketing Strategist - consoulted with companies large and small regarding their website and digital marketing needs. Slayed it when I could... which was always
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'campingIcon.png', width: '100%' %>
      </div>

      <div class="col-md-9 education-center">
        Associate Real Estate Agent - helped aid in the real estate transactions of some of SLC largest companies: IHC, Larry H. Miller, and America First Credit Union. Also, had to update website regularly with new property listings.
      </div>
    </div>
  </div>

  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'StrongAndHanni.jpg', width: '100%' %>
      </div>

      <div class="col-md-9 education-center">
        Pretty much just showed up to work daily to realize that I NEVER want to be a lawyer no matter how much they pay me.
      </div>
    </div>
  </div>




</div>











<!-- <div class="collapse" id="education">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9 education-center">
        Graduated with an Bachelor's in Accounting from the University of Utah in May 2017 with a 3.52 GPA.
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9 education-center">
        Graduated with my Associates in General Studies while being on the Dean's List.
      </div>
    </div>
  </div>
</div> -->