<div class="collapse" id="education">
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'UofU.jpg', width: '100%' %>
      </div>
      <div class="col-md-9 education-center">
        Graduated with an Bachelor's in Accounting from the University of Utah in May 2017 with a 3.52 GPA.
      </div>
    </div>
  </div>
  <div class="card card-block">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'DSU.gif', width: '100%' %>
      </div>
      <div class="col-md-9 education-center">
        Graduated with my Associates in General Studies while being on the Dean's List.
      </div>
    </div>
  </div>
</div>