<h1>About Me</h1>

<hr>

<div class ="row">
  <div class="col-md-4">
    <%= image_tag "SharkUni.png", width: 300, alt: "Shark Unicorn" %>
  </div>

  <div class="col-md-8">
  <p>If you want to know more about me, you need to take me to dinner. If you want to know more about me, you need to take me to dinner. If you want to know more about me, you need to take me to dinner. If you want to know more about me, you need to take me to dinner. If you want to know more about me, you need to take me to dinner. If you want to know more about me, you need to take me to dinner. If you want to know more about me, you need to take me to dinner. If you want to know more about me, you need to take me to dinner. If you want to know more about me, you need to take me to dinner. If you want to know more about me, you need to take me to dinner. If you want to know more about me, you need to take me to dinner. If you want to know more about me, you need to take me to dinner. If you want to know more about me, you need to take me to dinner. If you want to know more about me, you need to take me to dinner.</p>
  </div>
</div>