<main role="main" class="inner cover">
  <h1 class="cover-heading">This site is about me. Written for you.</h1>
  <p class="lead">You shouldn't judge a book by its cover. But maybe you should judge me by my portfolio.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>