@import "bootstrap";
@import "jquery-ui";
@import "gritter";
@import "font-awesome";


body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 100%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* Custom Styles */

.portfolio-container {
  padding-top: 30px;
}

.custom-font {
  font-family: 'Barlow', sans-serif;
}

 .social-links {
  font-size: 1.5em;
  padding-left: 5px;
  padding-right: 5px;
 }
 // ******************************************************************

.btn {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 120px
}

.btn.btn-outline {
  background: 0 0
}

.btn-outline.btn-primary {
  border-color: #2196F3;
  color: #2196F3;
}

.btn-outline.btn-primary:focus,
.btn-outline.btn-primary:hover {
  color: #FFFFFF;
  border-color:#2196F3;
  background-color: #2196F3;
  font-weight: bold;
}
.btn-outline.btn-danger {
  border-color: #ef1c1c;
  color: #ef1c1c
}

.btn-outline.btn-danger:hover {
  border-color: #ef1c1c;
  background-color: #ef1c1c;
  font-weight: bold;
}

.btn.btn-outline:hover {
  color: #FFF
}

